:root{
    --button-color: #FC569A;
    --navbar-link-color: #1B0A42;
}

*{
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 255, 255);
}
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    padding: auto;
    .navbar{
        margin-left: 80px;
        
        &__brand {
            text-decoration: none;
            font-family: "Circular Std Book";
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            color: #0A1B32;
            margin-right: 96px;

            span {
                color: var(--button-color);
            }
        }

        &__items{
            display: inline-block;
            padding: 0px;
            
        }
        &__item{
            display: inline-block;
        }
    
        &__link{
            text-decoration: none;
            margin-right: 38px;
            
            font-family: "Roboto";
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: var(--navbar-link-color);
        }

        
    }
    .right-navbar {
        margin-top: 0px;
        padding-top: 10px;
        &__signin{
            text-decoration: none;
            font-family: "Roboto";
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: var(--navbar-link-color);
        }

        &__signup {
            text-decoration: none;
            font-family: "Roboto";
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            background:var(--button-color);
            border: none;
            padding: 18px 31px;
            border-radius: 6px;
            margin: 0px 68px 115px 40.3px;
        }
    }


   
}

section {
    .container {
        display: flex;
        justify-content: space-between;
        margin-top: 115px;
        svg{
            margin-right: 20px;
        }
        &__blog {

            margin-left: 200px;
            h1{
                font-family: "Ramaraja";
                font-style: normal;
                font-weight: normal;
                font-size: 60px;
                line-height: 76px;
                /* or 106% */

                letter-spacing: 0.02em;

                color: #1B0A42;

                width: 495px;
                margin-bottom: 10px;
                
            }
            p{
                font-family: "Roboto";
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 32px;
                /* or 160% */

                letter-spacing: 0.02em;

                color: #9A9A9A;

                width: 581.49px;

                margin: 10px 19px 68px 0px;
                

            }

            .button {
                text-decoration: none;
                font-family: "Roboto";
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
                background: var(--button-color);
                border: none;
                padding: 18px 31px;
                border-radius: 6px;             
            }

        }
    }
}

@media(max-width: 965px){
    nav{
        .navbar{
            margin-left: 30px;

            &__brand{
                margin-right: 30px;
            }
        }
        .right-navbar{

            &__signup{
                margin-right: 30px;
            }
        }
    }
    section{
        
        .container{
            text-align: center;
            display: block;
            &__blog{
                margin-left: 50px;
                h1{
                    font-size: 45px;
                    margin: auto;
                    line-height: 50px;
                }
                p{
                    font-size: 13px;
                    line-height: 20px;
                    margin: auto;
                    margin-bottom: 30px;
                }
                .button{
                    margin: auto;
                }
                
            }
            svg{
                width: 100%;
                margin: 30px auto;
            }
        }
    }

}

@media(max-width: 750px){
    nav{
        margin: auto;
        display: block;
        text-align: center;
    }
    section{
        .container{
            &__blog{
                margin:auto;
                
            }
        }
    }
}